#main {
  transform-origin: 0% 0%;
}

#main, #latest, #historical {
  width: $third-width * 3 + $bezel * 4;
  height: $third-height;
  overflow: hidden;

  &.single {
    min-width: $single-width;
    width: $single-width;
    height: $single-height;
    .third {
      width: $single-width;
    }
    .image {
      height: $single-height;
    }
    .image-canvas {
      height: $single-height;
      width: $single-width;
    }
  }
}

#latest, #historical {
  cursor: none;
}

body, html {
  height: 100%;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
}

body {
  font-family: $stack;
  margin: 0;
  background-color: $bezel-grey;
  font-size: 16px;
}

#historical {
  font-size: 0;
  min-width: $third-width * 3 + $grid-bezel * 4;
}

.show-latest {
  #historical {
    display: none;
  }
}

.show-historical {
  #latest {
    display: none;
  }
}
