$stack: "Roboto Mono", "Roboto", sans-serif;


$third-width: 1280px;
$third-height: 2160px;
$threeup-height: $third-height / 3;

$bezel: 0px;
$grid-bezel: 0px;

$image-height: 760px;
$json-height: $third-height - $image-height;
